/* background and font */
.stats-container {
  position: static;
  font-family: "Montserrat", sans-serif;
  width: 100%;
  background-color: #303030;
}

/* wasla*/
/* .background {
  background-color: #303030;
  height: 100vh;
  width: 100%;
  position: absolute;
  z-index: -99;
  top: 500px;
} */

/* container for all properties */
.background-first {
  background-color: #303030;
  height: 10vh;
  position: relative;
  bottom: 0;
  width: 100%;
}
.first {
  background-color: white;
  background-image: url("./images/home-decoration-up.png");
  position: relative;
  display: flex;
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  justify-content: space-between;
}
.text-one > button {
  width: 90%;
}

.shawarma {
  margin-top: 10%;
  border-radius: 100%;
  width: 250px;
  position: static;
}

.stats-container h2 {
  font-family: "Grand Hotel", cursive;
  color: #ffc200;
  font-size: 60px;
  text-align: center;
}

.stats-container p {
  color: white;
  font-size: 20px;
  text-align: center;
}
.text-one {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.text-one > button {
  background-color: #ffc200;
  padding: 20px;
  border: 2px solid #ffc200;
  border-radius: 5px;
  text-align: center;
  font-size: x-large;
  font-weight: bold;
  color: #303030;
  cursor: pointer;
  margin-top: 10%;
}

.second {
  background-image: url("./images/home-decoration-full.png");
  background-repeat: no-repeat;
  background-position: center;
  /* background-size: cover; */
  display: flex;
  flex-direction: column;
  justify-content: top;
  align-items: center;
  background-color: #303030;
  width: 100%;
  height: 203vh;
  overflow-x: hidden;
  overflow-y: hidden;
  position: static;
  overflow-wrap: break-word;
}
.text-two {
  position: absolute;
  text-align: center;
  margin-top: 20%;
  width: 95%;
}
.circles {
  display: flex;
  position: relative;
  margin-top: 350px;
  width: 1500px;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  margin-left: 1050px;
}

.circle {
  padding: 50px;
  border: 7px solid white;
  border-radius: 50%;
  margin-left: 5%;
  margin-top: 1%;
  display: flex;
  width: 300px;
  height: 300px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.circles .number {
  color: #ffc200;
  font-size: 50px;
  font-weight: bold;
}

.circles .text {
  color: white;
  font-size: 30px;
  font-weight: bold;
  font-variant: small-caps;
  text-align: center;
}

/* 
medium
@media (min-width: 992px) {
  .container {
    width: 770px;
  }

  .container .shawerma {
    width: 66%;
    margin: 50px 17% 50px;
  }

  .circle {
    width: 44%;
    margin: 5px 20px;
  }
} */

/* Large */
@media (min-width: 1000px) {
  .circles {
    width: 100%;
    margin: 0;
  }
  .second {
    background-size: contain;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
  }
  .background-first {
    display: none;
  }
  .shawarma {
    position: absolute;
    width: auto;
    top: -5%;
    left: 10%;
  }

  .text-one h2 {
    font-size: 130px;
    text-align: start;
  }

  .text-one p {
    font-family: "Montserrat", sans-serif;
    font-size: 33px;
    text-align: start;
    margin: 25px 0 50px;
  }

  .text-one {
    justify-content: flex-start;
    align-items: flex-start;
    position: absolute;
    top: 20%;
    right: 40px;
    width: 45%;
  }

  .text-one > button {
    width: 400px;
    font-size: xx-large;
  }

  .text-two h2 {
    font-size: 130px;
  }

  .text-two p {
    font-size: 33px;
  }

  .text-two {
    position: static;
    margin: 0;
    width: 60%;
  }

  .circles {
    flex-direction: row;
    justify-content: center;
    position: relative;
    width: max-content;
  }

  .circle {
    margin: 5px 20px;
  }

  .circles .number {
    font-size: 70px;
  }
  /* 
  img.vegetables {
    display: block;
    position: absolute;
    z-index: -1;
    top: 900px;
    left: 100px;
    width: 1730px;
  } */
}
